/* You can add global styles to this file, and also import other style files */
@import "variables";

body {
  padding-top: 54px;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

#only-for-http-status {
  display: none;
}

#loading-bar-spinner {
  top: 22px !important;
  right: 36px !important;
}

#loading-bar-spinner .spinner-icon {
  float: right;
}

.dashboard-page {
  height: 92vh;
  overflow: hidden;
  display: block;
}

.content {
  overflow-y: scroll;
  max-height: 83vh;
  padding: 3px;
}

.content-preview {
  max-height: 86vh;
}

.content-full {
  max-height: 83vh;
}

.content-item1 {
  min-height: 100vh;
}

.content-item2 {
  min-height: 50vh;
}

.content-item3 {
  min-height: 33vh;
}

.content-item4 {
  min-height: 25vh;
}

.feed-item-html img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

@keyframes fadeIn {
  /** keep me **/
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.card-title a:hover {
  text-decoration: none;
}

.google-custom-search-result .gsc-tabHeader {
  overflow: hidden !important;
}

.google-custom-search-result .gsc-control-cse .gsc-option-menu-container {
  min-width: 120px;
}

.tag-cloud {
  width: 100%;
}

.tag-cloud ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tag-cloud ul li {
  display: none;
  margin: 0 0 0.3em 1em;
  padding: 0;
}

.tag-cloud ul li.active,
.tag-cloud-hover ul li {
  display: inline-block;
}

/* stylelint-disable-next-line no-descending-specificity */
.tag-cloud ul li a {
  position: relative;
  display: inline-block;
  height: 22px;
  line-height: 19px;
  padding: 0 3px 0 8px;
  background-color: #777;
  border-radius: 0 3px 3px 0;
  color: #fff !important;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.tag-cloud ul li a::before {
  position: absolute;
  top: 0;
  left: -11px;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent #777 transparent transparent;
  border-style: solid;
  border-width: 11px 11px 11px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tag-cloud ul li a::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 100%;
}

.tag-cloud ul li span {
  display: block;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tag-cloud ul li a:hover {
  background-color: #3498db;
  color: #fff;
}

.tag-cloud ul li a:hover::before {
  border-right-color: #3498db;
}

.tag-cloud ul li.active a {
  background-color: #333;
}

.tag-cloud ul li.active a::before {
  border-right-color: #333;
}

.privacy-policy-small {
  height: 150px;
  font-size: small;
}

.card-fix-width {
  min-width: 220px;
}

.cookie-law-wrapper {
  right: 10px !important;
  left: auto !important;
  bottom: 10px !important;
  width: 280px !important;
}
