<div class="row" *ngIf="page$ | async as page">
    <!-- Sidebar Widgets Column -->
    <aside [ngClass]="['col-md-4 col-sm-12 pt-2', focusedItem ? 'd-none d-sm-block' : '']">
        <div class="card mb-2">
            <div class="card-body pt-1 pb-0">
                <div class="row">
                    <div [ngClass]="tagCloudClass" (mouseover)="tagCloudClass='tag-cloud tag-cloud-hover'" (mouseout)="tagCloudClass='tag-cloud'">
                        <ul>
                            <li [ngClass]="[tag?.id == focusedTag?.id ? 'active' : '']" *ngFor="let tag of tagList; trackBy:pageService.trackByIndex">
                                <a (click)="loadByTag(tag)">
                                    <span>{{ tag.title }} ({{ tag.countOfUnreadText != undefined ? tag.countOfUnreadText: '?' }})</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="item-list-body" class="content content-preview" appScrollable (scrollPosition)="scrollHandler($event)">
            <div [ngClass]="['card mb-4 flex-row flex-wrap', feedItem.isRead ? 'text-muted' : 'text-dark border-dark']" *ngFor="let feedItem of pagination.data | async; trackBy:pageService.trackByIndex" (mouseenter)="showPreview(feedItem)" (click)="showPreview(feedItem, true)">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img class="img-fluid" *ngIf="feedItem.image" [src]="feedItem.image.url" alt="{{ feedItem.image.title }}"/>
                    </div>
                    <div class="col">
                        <div class="card-block px-2">
                            <h6 class="card-title">{{ feedItem.title }}</h6>
                            <div class="feed-item-html card-text small" *ngIf="feedItem.summaryPreview" [innerHTML]="feedItem.summaryPreview + '...'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="alert-warning" *ngIf="pagination.done | async" i18n>We ran out of items!</p>
        </div>
    </aside>

    <!-- Page Content -->
    <div class="col-md-8 col-sm-12 py-2" *ngIf="focusedItem">
        <div [ngClass]="['card', focusedItem.isRead ? '' : 'border-dark']">
            <div class="card-header p-0">
                <div class="float-left">
                    <a class="btn ml-3 mt-1 btn-sm" [href]="focusedItem.link" target="_blank"
                       title="Open in New Tab"><i class="fas fa-fw fa-external-link-alt fa-lg"></i></a>
                    <button class="btn ml-3 mt-1 btn-sm" (click)="loadFullContent(focusedItem)"
                            title="Load Full Content"><i class="fas fa-fw fa-cloud-download-alt fa-lg"></i></button>
                </div>

                <div class="float-left ml-5 d-none d-sm-block">
                    <button class="btn ml-5 mt-1 px-3 py-0 btn-outline-secondary btn-sm" (mouseenter)="scrollContent(-2)" (mouseleave)="stopScrollContent()"
                            title="Scroll Up"><i class="fas fa-fw fa-arrow-up fa-lg"></i></button>
                    <button class="btn ml-0 mt-1 px-2 py-0 btn-outline-secondary btn-sm" (mouseenter)="scrollContent(2)" (mouseleave)="stopScrollContent()"
                            title="Scroll Down"><i class="fas fa-fw fa-arrow-down fa-lg"></i></button>
                    <button class="btn ml-0 mt-1 px-2 py-0 btn-outline-secondary btn-sm" (mouseenter)="scrollContent(4)" (mouseleave)="stopScrollContent()"
                            title="Scroll Down Faster"><i class="fas fa-fw fa-arrow-down fa-lg"></i></button>
                    <button class="btn ml-0 mt-1 px-2 py-0 btn-outline-secondary btn-sm" (mouseenter)="scrollContent(6)" (mouseleave)="stopScrollContent()"
                            title="Scroll Down More Faster"><i class="fas fa-fw fa-arrow-down fa-lg"></i></button>
                </div>

                <div class="float-right">
                    <button class="btn ml-3 mt-1 btn-sm" *ngIf="focusedItem.isRead"
                            (click)="updateFeedItem(focusedItem, {isRead: false})"
                            title="Mark As Unread"><i class="far fa-fw fa-registered fa-lg"></i></button>
                    <button class="btn ml-3 mt-1 btn-sm" *ngIf="!focusedItem.isRead"
                            (click)="updateFeedItem(focusedItem, {isRead: true})"
                            title="Mark As Read"><i class="fas fa-fw fa-registered fa-lg"></i></button>

                    <button class="btn ml-3 mt-1 btn-sm" *ngIf="focusedItem.isKept"
                            (click)="updateFeedItem(focusedItem, {isKept: false})"
                            title="Mark Me To Be Deleted"><i class="fas fa-fw fa-save fa-lg"></i></button>
                    <button class="btn ml-3 mt-1 btn-sm" *ngIf="!focusedItem.isKept"
                            (click)="updateFeedItem(focusedItem, {isKept: true})"
                            title="Keep Me Forever"><i class="far fa-fw fa-save fa-lg"></i></button>

                    <button class="btn ml-3 mt-1 btn-sm text-danger"
                            (click)="focusedItem = undefined"
                            title="Close"><i class="fa fa-fw fa-times fa-lg"></i></button>
                </div>
            </div>
            <div id="focused-item-body" class="card-body content content-full">
                <div *ngIf="!focusedItem.fullContent">
                    <h2 class="card-title">{{ focusedItem.title }}</h2>
                    <div class="feed-item-html" [innerHTML]="focusedItem.summary ? focusedItem.summary : focusedItem.summaryPreview"></div>
                </div>
                <div *ngIf="focusedItem.fullContent">
                    <div class="feed-item-html" [innerHTML]="focusedItem.fullContent"></div>
                </div>
            </div>
            <div class="card-footer py-0">
                <div class="float-left">
                    {{ focusedItem.date.seconds * 1000 | date: 'medium' }}
                </div>
                <div class="tag-cloud float-right mt-1 mb-0">
                    <ul>
                        <li *ngFor="let tag of focusedItem.tagList; trackBy:pageService.trackByIndex">
                            <a (click)="loadByTag(tag)">
                                <span>{{ tag.title }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
