<div class="row" *ngIf="page$ | async as page">
    <!-- Sidebar Widgets Column -->
    <aside class="col-md-4 pt-2">
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="tag-cloud">
                        <ul>
                            <li *ngFor="let tag of tagList; trackBy:pageService.trackByIndex">
                                <a (click)="loadByTag(tag)">
                                    <span>{{ tag.title }} ({{ tag.countOfUnread != undefined ? tag.countOfUnread + '+' : '?' }})</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" appScrollable (scrollPosition)="scrollHandler($event)">
            <div class="card mb-4 flex-row flex-wrap" *ngFor="let feedItem of pagination.data | async; trackBy:pageService.trackByIndex" (mouseenter)="showPreview(feedItem)">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img class="img-fluid" *ngIf="feedItem.image" [src]="feedItem.image.url" alt="{{ feedItem.image.title }}"/>
                    </div>
                    <div class="col">
                        <div class="card-block px-2">
                            <h6 class="card-title">{{ feedItem.title }}</h6>
                            <div class="feed-item-html card-text small" *ngIf="feedItem.summaryPreview" [innerHTML]="feedItem.summaryPreview + '...'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="alert-warning" *ngIf="pagination.done | async" i18n>I ran out of items!</p>
        </div>
    </aside>

    <!-- Page Content -->
    <div class="col-md-8 py-2">
        <div class="card mb-4" *ngIf="focusedItem">
            <div class="card-header text-right">
                <a class="btn ml-3 mt-1 btn-sm" [href]="focusedItem.link" target="_blank"
                        title="Open in New Tab"><i class="fas fa-fw fa-external-link-alt fa-lg"></i></a>
                <button class="btn ml-3 mt-1 btn-sm" (click)="loadFullContent(focusedItem)"
                        title="Load Full Content"><i class="fas fa-fw fa-cloud-download-alt fa-lg"></i></button>
                <button class="btn ml-3 mt-1 btn-sm" *ngIf="focusedItem.isRead" (click)="markAsUnRead(focusedItem)"
                        title="Mark As Unread"><i class="far fa-fw fa-registered fa-lg"></i></button>
                <button class="btn ml-3 mt-1 btn-sm" *ngIf="!focusedItem.isRead" (click)="markAsRead(focusedItem)"
                        title="Mark As Read"><i class="fas fa-fw fa-registered fa-lg"></i></button>
            </div>
            <div class="card-body content">
                <div *ngIf="!focusedItem.fullContent">
                    <h2 class="card-title">{{ focusedItem.title }}</h2>
                    <div class="feed-item-html" [innerHTML]="focusedItem.summary ? focusedItem.summary : focusedItem.summaryPreview"></div>
                </div>
                <div *ngIf="focusedItem.fullContent">
                    <div class="feed-item-html" [innerHTML]="focusedItem.fullContent"></div>
                </div>
            </div>
        </div>
    </div>
</div>
